html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(8,24,131,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}